/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.
/bootstrap/
/README.md
/.editorconfig
/database/
/node_modules/
/cover.png
/vendor/
/.idea/
/artisan
/app/
/tailwind.config.js
/phpunit.xml
/.gitattributes
/storagebak/
/clear cashe
/config/
/composer.lock
/package-lock.json
/storage/
/tests/
/.gitignore
/.env
/package.json
/vite.config.js
/composer.json
/routes/
/.env.example
/public/
/postcss.config.js
/resources/
/.
/bootstrap/
/README.md
/.editorconfig
/node_modules/
/database/
/cover.png
/vendor/
/.idea/
/artisan
/app/
/tailwind.config.js
/phpunit.xml
/.gitattributes
/storagebak/
/clear cashe
/config/
/composer.lock
/package-lock.json
/tests/
/storage/
/.gitignore
/.env
/package.json
/vite.config.js
/composer.json
/.env.example
/routes/
/public/
/postcss.config.js
